@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation2';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-style: normal;
}

.구매내역{
    font-family: 'Freesentation';
    margin-top: 60px;
    text-align: left;
    margin-left: 6%;
    font-size: 40px;
}

.userbox {
    font-family: 'Freesentation2';
    font-size: 20px;
    margin-top: 6px;
    background-color: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    border: 0px solid #ccc; /* 테두리 스타일 설정 */
    border-radius: 20px; /* 박스의 테두리를 둥글게 만듭니다. */
    margin-bottom: 1%;
    width: 400px;
    height: 400px;
    margin-left: 6%;
}

.button{
    margin-left: 6%;
    margin-bottom: 1%;
    border-radius: 20px;
}